*{
  box-sizing: border-box;
}

body{
  font-family: 'VT323', monospace;
  background-color: #fff;
  margin:0;
  padding:0;
}

#top{
  background-color: #9badb7;
  height:30vh;
}
#image{
  text-align: center;
  margin:0;
  padding:0;
  position:absolute;
  top:calc(30vh + -153px);
  left:50%;
  transform: translateX(-50%);
}
#bottom{
  padding: 3em;
}
